tell_all_FILLED_FINAL.csv
speech_ids.pkl
tfidf_matrix.pkl
tfidf_vectorizer.pkl
__pycache__/compute_tfidf.cpython-310.pyc
__pycache__/config.cpython-310.pyc
app/__pycache__/__init__.cpython-310.pyc
app/__pycache__/models.cpython-310.pyc
app/__pycache__/routes.cpython-310.pyc
preprocessed_chunks/
myenv/Include/site/python3.10/greenlet/greenlet.h
myenv/
myenv/Lib/site-packages/distutils-precedence.pth
__pycache__/compute_tfidf2.cpython-39.pyc
__pycache__/config.cpython-39.pyc
app/__pycache__/__init__.cpython-39.pyc
app/__pycache__/models.cpython-39.pyc
app/__pycache__/routes.cpython-39.pyc
Merged
pkl_backup/.DS_Store
pkl_files/.DS_Store
.DS_Store
output/member_keyword_trends_over_time.csv
output/party_keyword_trends_over_time.csv
output/member_keyword_trends_over_time.png
output/party_keyword_trends_over_time.png
__pycache__/db.cpython-310.pyc
output/lsi_concepts.txt
pkl_files/lsi_vectors.pkl
output/variance_explained.csv
__pycache__/db.cpython-39.pyc
output/best_speeches_per_cluster.txt
output/best_speeches_per_cluster_lsi.txt
output/best_speeches_per_cluster_nmf.txt
output/nmf_concepts.txt
pkl_files/nmf_vectors.pkl
output/keyword_trends_overall.csv
output/member_keyword_trends_over_time.png
output/member_keyword_trends_over_time.png
output/party_keyword_trends_over_time.png
output/top_keywords_overall_trends.png
output/top_keywords_overall.csv
output/top_keywords_per_year.csv
