{% extends 'base.html' %}

{% block content %}
<div class="home-container">
    <h2>Explore Greek Parliament Speeches</h2>
    <a href="/search_engine" class="search-button">Search Engine</a>
    <a href="/keywords" class="search-button">Keywords</a>
    <a href="/top_k_member_pairs" class="search-button">Top K Member Pairs</a>
    <a href="/top_concepts" class="search-button">Top Concepts</a>
    <a href="/speeches_clustering" class="search-button">Speeches Clustering</a>
    <a href="/polarity_tracking" class="search-button">Polarity Tracking</a>
</div>
{% endblock %}