{% extends 'base.html' %}

{% block content %}
<div class="top-k-container">
    <h2>{{ title }}</h2>
        <table id="polarity-data-table" class="styled-table">
            <thead>
                <tr>
                    {% for column in columns %}
                    <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <div class="actions">
        <a href="/polarity_tracking" class="back-home-button">Back to Polarity Tracking</a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/datatables.net/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    $('#polarity-data-table').DataTable({
        "paging": true,
        "searching": false,
        "info": false,
        "ordering": true
    });
});
</script>

<style>
    .styled-table {
        width: 100%;
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 1em;
        text-align: left;
    }

    .styled-table th, .styled-table td {
        padding: 12px 15px;
    }

    .styled-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }

    .styled-table tbody tr:hover {
        background-color: #f1f1f1;
    }

    .dataTables_paginate .paginate_button {
        display: inline-block;
        padding: 8px 12px;
        margin: 0 5px;
        font-size: 14px;
        color: #007BFF; /* Blue color */
        border: 1px solid #ddd; /* Light border */
        border-radius: 5px;
        background-color: #f9f9f9;
        cursor: pointer;
        text-decoration: none;
    }
    .dataTables_paginate .paginate_button:hover {
        background-color: #007BFF;
        color: white;
        border-color: #0056b3;
    }
    .dataTables_paginate .paginate_button.current {
        background-color: #007BFF;
        color: white;
        font-weight: bold;
        border-color: #0056b3;
    }
    .dataTables_paginate .paginate_button.disabled {
        color: #aaa;
        background-color: #f1f1f1;
        border-color: #ddd;
        cursor: not-allowed;
    }
</style>
{% endblock %}
